@import "bootstrap/scss/bootstrap";
@import "fancy/fancy";

body {
  @extend %fancy;
}

h1 {
  background: asset-url("magic.gif") no-repeat;
  background-position: right center;
  background-size: contain;
}
